services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    volumes:
      - mongo_data:/data/db
      - ./mongo/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "mongodb://localhost:27017/admin", "--eval", "db.runCommand({ ping: 1 }).ok"]
      interval: 5s
      timeout: 3s
      retries: 30

  script:
    build: ./script
    container_name: python
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
      MONGO_HOST: mongodb
      MONGO_PORT: 27017
      MONGO_DB: ${MONGO_DB}
      MONGO_APP_USER: ${MONGO_APP_USER}
      MONGO_APP_PASSWORD: ${MONGO_APP_PASSWORD}
      DATASET_PATH: /app/data/healthcare_dataset.csv
      COLLECTION_NAME: patients
      UNIQUE_KEY: patient_id
      BATCH_SIZE: 1000
    volumes:
      - ./data:/app/data:ro
    command: ["bash", "-lc", "python wait_for_mongo.py --timeout 60 && python migrate.py && python wait_for_mongo.py --check-data --collection patients --min-docs 1 --timeout 60"]

volumes:
  mongo_data:
